html, body {
    background: black;
    color: #00b800;
    margin:0;
    padding: 0;
    padding-top: 10px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

body {
    font-weight: 400;
}

button {
    font-family: 'Press Start 2P', cursive;
    display: block;
    margin: 0 auto;
    border: none;
    background: #a80020;
    background: #00b800;
    padding: 20px 30px;
  
}
button:hover{
  cursor: pointer;
  background-color: darkgreen;
}

button:disabled {
    cursor: not-allowed;
}

h1 {
    font-size: 40px;
    text-align:center;
    text-transform: uppercase;
}
h4{
  text-transform: uppercase;
}

textarea {
    font-family: 'Press Start 2P', cursive;
    border: 3px solid black;
    width: 90%;
    margin: 0 auto;
    outline: none;
    height: 200px;
    background: #00b800;
    padding: 10px;
    font-size: 20px;
}

textarea:disabled {
    background-color: #a5a2a2;
}
